"Positions for account Individual ...123 as of 06:26 PM ET, 2025/08/13","","","","","","","","","","","","","",""
"","","","","","","","","","","","","","",""
"Symbol","Description","Qty (Quantity)","Price","Price Chng $ (Price Change $)","Price Chng % (Price Change %)","Mkt Val (Market Value)","Day Chng $ (Day Change $)","Day Chng % (Day Change %)","Cost Basis","Gain $ (Gain/Loss $)","Gain % (Gain/Loss %)","Reinvest?","Reinvest Capital Gains?","Security Type"
"Cash & Cash Investments","--","--","--","--","--","$1000.00","$0.00","0%","--","--","--","--","--","Cash and Money Market"
"Account Total","--","--","--","--","--","$1000.00","$0.00","0.00%","$0.00","$0.00","00.00%","--","--","--"
